body {
    padding-top: 60px;
}
 
div.findDIV {
    width: 600px;
    margin: 0 auto;
}

div.listDIV {
    width: 600px;
    margin: 0 auto;
}

div.findcontractDIV {
    width:620px;
    margin: 0 auto;
}

div.listcontractDIV {
    width: 900px;
    margin: 0 auto;
}

 
div.editDIV {
    width: 400px;
    margin: 0 auto;
}
 
nav.pageDIV {
    text-align: center;
}
 
div.addDIV {
    width: 300px;
    margin: 0 auto;
}

div.addCtDIV {
    width: 700px;
    margin: 0 auto;
}

div.courseMask{
	display: none;
}
div.memberMask{
	display: none;
}
div.Info{
	 width: 700px;
    margin: 0 auto;
}
div.memberInfo{
	display:none;
}
div.courseInfo{
	display:none;
}

div.addCtInfo{
	display:none;
}
table.addTable {
    width: 100%;
    padding: 5px;
}
 
table.addTable td {
    padding: 5px;
}
 
table.editTable {
    width: 100%;
    padding: 5px;
}
 
table.editTable td {
    padding: 5px;
}